.L{
	color: violet;
}
.j{
	font-size: 50px;
	color: red;
}
.D{
	color: green;
}
body{
	background: url(../img/bc4acc0dccf4a1578c8a8e17052e4bb6.jpg) 0 0 ;
	font-style: italic;
}
.clan{
	font-size: 50px;
	color: red;
	font-style: italic;
}
.nic{
	font-size: 50px;
	color: green;
	font-style: italic;
}
.Kl{
	color: red;
	font-style: italic;
}
.llk{
	color: red;
	font-style: italic;
}
.Hh{
	font-size: 50px;
	color: red;
	font-style: italic;
}
.LJ{
	font-size: 50px;
	color: green;
	font-style: italic;
}
.BV{
	color: yellow;
	font-style: italic;
}
.BCX{
	font-size: 50px;
	background: #253 url() 0 0 no-repeat;
	border: 1px solid #253;
	border-radius: 100px;
	font-style: italic;
}

